@using Microsoft.JSInterop
@implements IAsyncDisposable
@implements IDisposable

@inject IJSRuntime JS



<div class="box">
<h2>Registrazione</h2>
</div>

<div class="field is-horizontal">
  
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
          <div class="select">
                
            <select>
                @for(int i=1; i<7; ++i)
                {
                    <option>Turno @i</option>
               
                }
            </select>
              
         </div>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <input class="input is-success" placeholder="Pettorale" >
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
  </div>
</div>



<label class="label">Selezionare la telecamera</label>
<div class="field has-addons">
    <div class="control is-expanded">
         
            <div class="select is-fullwidth">
                <select id="Dispositivo" @onchange="@OnCameraSelected">

                    <option value="">Seleziona</option>
                    @foreach (var disp in _devices)
                    {
                        <option value="@disp.ID">@disp.Label</option>
                    }


                </select>
            </div>

    </div>
    <div class="control">
        <a class="button is-info" @onclick="GetDevices">
            Aggiorna
        </a>
    </div>
</div>

<div class="notification @(_inregistrazione ? "is-danger" : "")">
    <video id="videoPlayer" width="320" height="320" />
</div>

<button class="button is-fullwidth   @(_inregistrazione ? "is-danger" : "is-primary")"
        @onclick="OnRegistra">
    @(_inregistrazione ? "Salva" : "Registra")
 </button>
<div class="block">
    <p class="is-size-7">@(_inregistrazione ? "Registrazione in corso" : "Iniziare regitrazione")</p>
</div>

@code {

    private IJSObjectReference? _JSRecorder;

    List<Device> _devices = new List<Device>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _JSRecorder = await JS.InvokeAsync<IJSObjectReference>("import", "./script/recorderj.js");
        }
    }

    private async Task GetDevices()
    {

        _devices.Clear();

        await _JSRecorder.InvokeVoidAsync("ListaDevices", DotNetObjectReference.Create(this), "AggungiDevice", "EndAggiorna");

    }

    [JSInvokable]
    public void AggungiDevice(string tipo, string label, string id)
    {
        Console.WriteLine($"{tipo} {label} {id}");

        if (tipo.StartsWith("video"))
            _devices.Add(new Device { Label = $"{_devices.Count+1} {label}", ID = id });
    }

    [JSInvokable]
    public void EndAggiorna()
    {
        StateHasChanged();
    }


    private async Task OnCameraSelected(ChangeEventArgs e)
    {
        if(string.IsNullOrEmpty(e?.Value.ToString()))
        {
            return;
        }

        await _JSRecorder.InvokeVoidAsync("startVideo", "videoPlayer", e.Value);
    }

    bool _inregistrazione = false;

    private void OnRegistra()
    {
        _inregistrazione = !_inregistrazione;
        StateHasChanged();
    }


    void IDisposable.Dispose()
    {
        //_JSRecorder?.Dispose();
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_JSRecorder is not null)
        {
            await _JSRecorder.DisposeAsync();
        }
    }
}
