

@using TakeOffVideo.Library.TOVFileManagerNS;


@inject TOVFileManager videofilemanager
@implements IDisposable

@inject IStringLocalizer<LangResources> Loc

<div class="has-text-left ml-4 mr-4">
<table class="table is-fullwidth is-narrow is-scrollable" >
    <thead>
    <tr>
            <th>Play</th>
            <th>@Loc["Ora"]</th>
            <th>@Loc["Turno"]</th>
            <th>@Loc["Pettorale"]</th>
            <th> <span class="icon is-small">
                        <img src="image/lockclose24.png">
                  </span>
            </th>
    </tr>
    </thead>
    <tbody>
         
        @foreach(var v in videofilemanager.GetElenco())
        {
            <tr class="@(_videoplaying == v ?"is-selected" :"")" >
                <td>
                    @if (true || v != _videoplaying)
                    {
                        <button class="button" @onclick="() => Play(v)" >
                            <span class="icon is-small">
                                <img src="image/play24.png">
                            </span>
                        </button>
                    }

                </td>
                <td>@v.OraRegistrazione.ToString("HH:mm:ss")</td>
                <td>@v.Turno</td>
                <td>@v.Pettorale</td>
                <td>
                        <button class="button" @onclick="() => OnPin(v)">
                        <span class="icon is-small">
                            @if (v.Pinned)
                            {

                                <img src="image/check24.png">
                            }
                            @*else
                            {
                                <img src="image/quadro24.png">
                            }*@


                        </span>
                    </button>

                </td>
            </tr>
        }
        
    </tbody>
</table>
</div>

@code {

    [Parameter] public EventCallback<VideoFile> OnPlayVideo { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            videofilemanager.OnNuovo += OnNuovo;

        }
    }

    public void Dispose()
    {
        videofilemanager.OnNuovo -= OnNuovo;
    }

    VideoFile? _videoplaying;

    private async Task OnNuovo(VideoFile video)
    {
        _videoplaying = video;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private void Play(VideoFile video)
    {
        _videoplaying = video;
        OnPlayVideo.InvokeAsync(video);
    }

    private void OnPin(VideoFile video)
    {
       video.Pinned = !video.Pinned;
       StateHasChanged();
    }

}
